<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>채팅</h1>
<pre type="text" id="messages"></pre>
<input type="text" id="message">
<button onclick="sendText()">전송</button>
<button onclick="chatClose()">연결 끊기</button>
</body>
</html>
<script>
    const socket = new WebSocket("ws://127.0.0.1:8080/socketServer");
    const clientID = "test";

    document.addEventListener("DOMContentLoaded", function(){
        const today = new Date();

        const year = today.getFullYear();
        const month = ('0' + (today.getMonth() + 1)).slice(-2);
        const day = ('0' + today.getDate()).slice(-2);

        let week = "";
        switch (today.getDay()) {
            case 0: week = "일"; break;
            case 1: week = "월"; break;
            case 2: week = "화"; break;
            case 3: week = "수"; break;
            case 4: week = "목"; break;
            case 5: week = "금"; break;
            case 6: week = "토"; break;
        }

        const dateString = year + '년 ' + month  + '월 ' + day + '일' + '(' + week + ')';
        document.getElementById("messages").append(dateString);
    });

    socket.addEventListener("open", () => {
        const clientID = "test";
        const today = new Date();

        const hours = ('0' + today.getHours()).slice(-2);
        const minutes = ('0' + today.getMinutes()).slice(-2);
        const seconds = ('0' + today.getSeconds()).slice(-2);

        const timeString = hours + ':' + minutes  + ':' + seconds;
        const message = {
            type: "message",
            text: "상대방이 입장하였습니다.",
            id: clientID,
            dateTime: timeString,
            status: true,
            connect: true,
        };

        socket.send(JSON.stringify(message));
        console.log("WebSocket is open");
    });

    function sendText(event) {

        let timeString = getCurrentTime();
        let message = {
            type: "message",
            text: document.getElementById("message").value,
            id: clientID,
            dateTime: timeString,
            status: true
        };

        socket.send(JSON.stringify(message));

        document.getElementById("message").value = "";
        document.getElementById("messages").append("\n[" + message.dateTime + "]나:" + message.text);
    }

    socket.onclose = function () {
        console.log("채팅 종료");
    };

    socket.onerror = function () {
        socket.close();
        console.log("서버 error");
    }

    socket.onmessage = function (event) {
      if (JSON.parse(event.data).connect) {
          document.getElementById("messages").append("\n[" + JSON.parse(event.data).dateTime + "]" + JSON.parse(event.data).text);
          return;
      }
      JSON.parse(event.data).status ? document.getElementById("messages").append("\n[" + JSON.parse(event.data).dateTime + "]상대방:" + JSON.parse(event.data).text) : document.getElementById("messages").append("\n" + JSON.parse(event.data).text);
    };

    function chatClose() {
        let message = {
            type: "message",
            text: "상대방이 채팅방을 나갔습니다.",
            id: clientID,
            date: Date.now(),
            status: false
        };
        socket.send(JSON.stringify(message));
        document.getElementById("message").value = "";
        socket.close();
        document.getElementById("messages").append("\n채팅방을 나갔습니다.");
    }

    function getCurrentTime() {
        let today = new Date();

        let hours = ('0' + today.getHours()).slice(-2);
        let minutes = ('0' + today.getMinutes()).slice(-2);
        let seconds = ('0' + today.getSeconds()).slice(-2);
        let timeString = hours + ':' + minutes  + ':' + seconds;
        return timeString;
    }
</script>