<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <meta charset="UTF-8">
  <title>회원가입 페이지</title>
</head>
<body>
<h1>회원가입 페이지</h1>
<hr/>
<form action="/join" method="POST">
  <input type="text" name="id" placeholder="Id"><br/>
  <input type="password" name="password" placeholder="Password"><br/>
  <input type="text" name="name" placeholder="Name"><br/>
  <input type="text" name="phone" placeholder="Phone"><br/>
  <input type="email" name="email" placeholder="Email"><br/>
  <input type="text" name="addr" placeholder="Address"><br/>
  <input type="text" name="detailAddr" placeholder="Detail-Address">
  <button>회원가입</button>
</form>
</body>
</html>